package ${package.Controller};

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;
#if(${swagger2})
import io.swagger.annotations.ApiOperation;
#end
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;


#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 *
 * $!{table.comment} 前端控制器
 * @author ${author}
 * @since ${date}
 */
#if(${swagger2})
@Api(value = ${entity})
#end

#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@Api(value ="${table.comment}")
@RequestMapping("/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end
    @Autowired
    private ${table.serviceName} ${table.entityPath}Service;

    @GetMapping
    @ApiOperation(value = "${table.comment}列表查询",notes = "list")
    public List<${entity}> list(){
        return ${table.entityPath}Service.list();
    }

    @GetMapping("/{id}")
    @ApiOperation(value = "${table.comment}查看详情",notes = "${entity}")
    public ${entity} get${entity}ById(@PathVariable Long id){
            return ${table.entityPath}Service.getById(id);
    }

    @PostMapping
    @ApiOperation(value = "${table.comment}新增",notes = "${entity}")
    public boolean save${entity}(@RequestBody ${entity} ${table.entityPath}){
            return ${table.entityPath}Service.save(${table.entityPath});
    }

    @PutMapping("/{id}")
    @ApiOperation(value = "${table.comment}修改",notes = "${entity}")
    public boolean update(@PathVariable Long id, @RequestBody ${entity} ${table.entityPath}){
        ${table.entityPath}.setId(Integer.parseInt(id.toString()));
        return ${table.entityPath}Service.updateById(${table.entityPath});
    }

    @DeleteMapping("/{id}")
    @ApiOperation(value = "${table.comment}删除",notes = "${entity}")
    public boolean remove(@PathVariable Long id){
        return ${table.entityPath}Service.removeById(id);
    }

}
#end
